{
    "presets": [
        "@babel/env",
        "@babel/preset-react",
        ["@babel/preset-typescript", { "isTsx": true }]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    ]
}
